<module>
	<rawname>customappsreg</rawname>
	<name>Custom Applications</name>
	<version>0.8.0</version>
	<type>tool</type>
	<category>System Administration</category>
	<description>
		Registry to add custom extensions and destinations that may be created and used so that the Extensions and Destinations Registry can include these.
	</description>
	<menuitems>
		<customextens>Custom Extensions</customextens>
		<customdests>Custom Destinations</customdests>
	</menuitems>
	<changelog>
		*0.8.0* First release of module
	</changelog>
	<location>release/2.4/customappsreg-0.8.0.tgz</location>
	<md5sum>0513fe7897d083b2a56fd84567a8524d</md5sum>
</module>
